.custom-overlay {
    position: relative;
}
.custom-overlay-popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid gray;
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    z-index: 99999;
}
.custom-overlay:hover > .custom-overlay-popup {
    display: block;
}

.fade-item {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.4s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-label {
  opacity: 0;
  transform: translateX(10px);
  animation: fadeInRight 0.4s ease-out forwards;
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-jumbotron {
  opacity: 0;
  transform: translateX(-10px);
  animation: fadeInLeft 0.4s ease-out forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-link {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInLink 0.4s ease-out forwards;
}

@keyframes fadeInLink {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-desc {
  color: #898787;
}

.text-smallSize
{
 font-size: 0.8em;
}

.detail-text {
  flex-grow: 2;   /* 기본 1 대비 약 2배 */
}

/* div {
    box-shadow: 0 0 1px 0 grey;
} */