.map-wrapper {
    position: relative;
    width: 100%;
    height: 1000px;
}

.map-wrapper > .marker-list {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    min-width: 400px;
    padding: 4px 8px;
    z-index: 10;
}

.map-wrapper > .map-info {
    width: 100%;
    height: 100%;
}